/* ProductGallery.css */
.product-gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    height: 100%;
    position: relative;
  }
  
  .nav-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
  }
  
  .nav-button-left {
    left: 0;
  }
  
  .nav-button-right {
    right: 0;
  }
  
  .product-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 20px;
    align-items: center;
  }
  
  .product-item {
    text-align: center;
    width: 30%;
  }
  
  .product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .product-details h2 {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .product-link {
    color: #007bff;
    text-decoration: none;
  }
  