.product-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
  overflow: hidden;
  position: relative; /* Ensures buttons are positioned relative to the gallery */
  background-color: #b4be79; /* Optional background color */
}

.gallery-title {
  font-size: 36px; /* Larger font size for the title */
  font-weight: bold;
  color: #333; /* Dark color for contrast */
  margin-bottom: 20px; /* Space between title and product gallery */
  text-align: center;
}

.product-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%; /* Occupy most of the page */
  width: 100%; /* Full width */
}

.product-item {
  flex: 1;
  margin: 0 10px; /* Add some spacing between images */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.product-image {
  width: 90%;
  height: 70%; /* Adjust the height */
  object-fit: cover; /* Ensure the image covers the area */
  border: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 0 5px; /* Optional rounded corners */
}

.product-details {
  text-align: center;
  margin-top: 10px;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #0dd650;
  color: #1051ca;
  border: none;
  padding: 20px 30px;
  font-size: 40px;
  cursor: pointer;
  z-index: 20;
  border-radius: 50%;
  opacity: 10; /* Slight transparency for better visibility */
}

.nav-button-left {
  left: 20px;
}

.nav-button-right {
  right: 20px;
}

.nav-button:hover {
  background-color: #11a0d8;
  opacity: 1; /* Fully opaque on hover */
}
