.similar-products-page {
  text-align: center;
  background-color: rgb(227, 235, 206);
}

.similar-products-page h1,
.similar-product-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.product-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; /* Hide overflow to prevent images from spilling out */
  width: 100vw; /* Full viewport width */
  height: 80vh; /* Adjust height to cover most of the viewport */
}

.product-cont {
  display: flex;
  gap: 0;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.product-form {
  text-align: center;
  flex-shrink: 0; /* Prevent shrinking of images */
  width: 50vw; /* Each image will take up half the viewport width */
  height: 80vh; /* Set height to cover most of the viewport */
}

.product-pic {
  width: 80%;
  height: 70%; /* Ensure the images cover the entire container */
  object-fit: cover; /* Ensure the images cover the space without distortion */
}

.product-data h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.product-data p {
  font-size: 1rem;
  color: #555;
}

.navi-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.navi-button-left {
  left: 10px;
}

.navi-button-right {
  right: 10px;
}
